/* header{
background-attachment:scroll;
} */

*{
    margin:0px;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#h{
  height:50px;
  padding:70px;
  background-color:rgb(17, 124, 143);
}
#h h1
{
  /* background-color:  */
  /*  */
  /* font-size:30px; */
    color:white;
    font-family:verdana;
    text-align: center;
}
nav
{
  /* padding:30px; */
display: flex;
background-color:#333;
}
nav a{
    text-decoration:none;
    color:white;
    padding:30px;
    font-size:22px;
    font-family:Pacifico,cursive;
    text-align:center;
    margin-right:25px;
}
main{
    min-height:300px;
    margin-top:50px;

}
#sec-1
{
    text-align:center;
}
#sec-1 h2
{
    font-size:40px;
    font-family:verdana;
    margin-bottom:2%;
}
#sec-2
{
    background-color:rgb(241, 241, 241);
    margin-top: 5px;
    min-height:500px;
    text-align:center;
}
#sec-2 h2
{
        margin-bottom:5px;
        font-size:40px;
        margin:3% 0% 3% 0%;

}
#sec-3
{

        background-color: white;
        /* margin-top:20px;
        margin-bottom:10%; */
        text-align:center;

}
#sec-3 h1{
        padding:5% 0% 5% 0%;
        font-size:40px;
        max-height:700px;
}
#sec-3 a{
     padding:10px;
}
#sec-4
{
  /*    border:solid 1px black;*/
    text-align:center;
    margin-top:10px;
    background-color:rgb(241, 241, 241);
    min-height:300px;
}
#sec-4 a
{
    padding:4px;
}
.c
{
     margin-top:30px;
     clip-path: circle(50% at 48% 46%);
     margin-bottom:10px;
}

#sec-4 h2
{
  /* font-size: 10rem; */
  /* color:grey; */
    margin-top:2%;
    padding-left:20%;
    margin-bottom:2%;
    padding-right:20%;
}
#sec-4 h5{
  padding-left:10%;
  padding-right:10%;
}
#sec-5
{
    border:1px solid black;
    height:70px;
    width:100%
    background-color:black;
}
.align-left{
  margin-left: auto;
}
#menu a:hover{
  /* padding:4px; */
  color:black;
  background-color:white;
}

/* carousel in here */
/* .carousel {
  /* background: #EEE; */
} */

.carousel-cell {
  width:100%;
  /* height: 200px; */
  margin-right: 10px;
  /* background: #8C8; */
  border-radius: 5px;
  /* counter-increment: gallery-cell; */
}
.carousel-cell video{
  /* max-width:100%; */
}



/* media queries to make it responsive */
@media screen and (max-width:700px){
  /* header h1{
    font-size:10px;
    background-color:black;
  } */
  header h1{
    font-size:22px;
  }
  nav{
    flex-direction:column;
    padding:5px 0px;
  }
  nav a{
    padding:5%;
  }
  #h{
    height:25px;
    padding:35px;
  }
  .align-left{
    margin-left:0%;
  }

}
