body{
    font-size:15px;
}
.container{
    /* border:1px solid black; */
    height:25rem;
    margin-left:18rem;
    margin-right:18rem;
    border-radius:10px;
    display:flex;
    /* flex-direction:column; */
    margin-top:5rem;
    justify-content: center;
}
.box{
    height:25rem;
    width:33.4%;
    /* border:1px solid black; */
}
.box-1{
    /* border:1px solid black; */
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    background-color:#E28525;
    display:flex;
    color:hsl(0, 0%, 95%);
    flex-direction:column;
}
.box-2{
    background-color:#016972;
    display:flex;
    color:hsl(0, 0%, 95%);
    flex-direction:column;

}
.box-3{
    background-color:#00403F;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    display:flex;
    color:hsl(0, 0%, 95%);
    flex-direction:column;
    
}




.car{
    /* border:1px solid black; */
    margin-left:2rem;
    margin-top:2rem;
}
.car-name{
    /* border:1px solid black; */
    margin-top:3px;
    margin-left:2rem;
    margin-bottom:3px;
}
.car-details{
    color:hsla(0, 0%, 100%, 0.75);
    margin-left:0.1rem;
    padding:0rem 2rem 2rem 2rem;   
    line-height: 1.6;
    /* border:1px solid black; */
}


/* learn more btn */
.details{
    border:1.9px solid white;
    text-align:center;
    border-radius:2rem;
    width:7em;
    margin-left:2rem;
    /* margin-top:8rem; */
    padding:9px;   
    font-family:Big Shoulders Display;
    /* font-family:Typography; */
    cursor: pointer;
    transition:0.6s;
    
}
.details:hover{
    
    background-color:white;
    color:#E28525;
}
.box-2details{
    border:1.9px solid white;
    text-align:center;
    border-radius:2rem;
    width:7em;
    margin-left:2rem;
    /* margin-top:8rem; */
    padding:9px;   
    font-family:Big Shoulders Display;
    /* font-family:Typography; */
    cursor: pointer;
    transition:0.6s;
    
}
.box-2details:hover{
    background-color:white;
    color:#016972;
}
.box-3details{
    border:1.9px solid white;
    text-align:center;
    border-radius:2rem;
    width:7em;
    margin-left:2rem;
    /* margin-top:8rem; */
    padding:9px;   
    font-family:Big Shoulders Display;
    /* font-family:Typography; */
    cursor: pointer;
    transition:0.6s;
}
.box-3details:hover{
    
    background-color:white;
    color:#00403F;
}


/* media queries */

@media screen and (max-width:700px)
{
.container{
flex-direction:column;
}
}